<%- include('../partials/header') %>
    <div class="edit-skills">
        <h1>Edit <%= skill.skill %>
        </h1>
        <form action="/skills/<%= skill.id %>?_method=PUT" method="POST" autocomplete="off">
            <input type="text" name="skill" value="<%= skill.skill %>">
            <label>Learned</label>
            <input type="checkbox" <%=skill.learned ? 'checked' : '' %> name="learned">
            <button type="submit">Confirm</button>
        </form>
    </div>
    <%- include('../partials/footer') %>