<%- include('../partials/header') %>
    <div class="skills-page">
        <h1>My Skills</h1>
        <ul>
            <% skills.forEach(function(s) { %>
                <li>
                    <a href="/skills/<%=s.id%>">
                        <%= s.skill %>
                    </a>
                    -
                    <%= s.learned ? 'learned' : 'not learned' %>
                </li>
                <% }) %>
        </ul>
        <a href="/skills/new" class="add-new-skill">Add New Skill</a>
        <a href="/" method="GET" class="link-to-home">Home</a>
    </div>
    <%- include('../partials/footer') %>